{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
</head>
<body>
    <h1 class="btn btn-primary">hi</h1>
    <button type="button" class="btn btn-primary" data-mdb-ripple-init>Primary</button>
    <button type="button" class="btn btn-secondary" data-mdb-ripple-init>Secondary</button>
    <button type="button" class="btn btn-tertiary" data-mdb-ripple-init data-mdb-ripple-color="light">Tertiary</button>
    <button type="button" class="btn btn-success" data-mdb-ripple-init>Success</button>
    <button type="button" class="btn btn-danger" data-mdb-ripple-init>Danger</button>
    <button type="button" class="btn btn-warning" data-mdb-ripple-init>Warning</button>
    <button type="button" class="btn btn-info" data-mdb-ripple-init>Info</button>
    <script src="{% static 'js/mdb.es.min.js' %}"></script>
</body>
</html>